
* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Carter One";
}

.container {
  text-align: center;
}

.control {
  width: 60%;
  margin: 50px auto 40px auto;
}

/* Optional style for div enclosing Infinite Scroll Component (all images) */
/* .images {
  ...
} */

.single-image {
  margin: 1%;
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.single-image:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* ------------ Loader ------------ */

.loader-dots {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-dot:nth-child(1),
.loader-dot:nth-child(2) {
  left: 0;
}

.loader-dot:nth-child(3) {
  left: 1.5em;
}

.loader-dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em)
  }
}

.loader-dot:nth-child(1) {
  animation-name: reveal;
}

.loader-dot:nth-child(2),
.loader-dot:nth-child(3) {
  animation-name: slide;
}

.loader-dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

/* ------------ MEDIA QUERIES ------------ */

/* Small screens */
@media screen and (max-width: 767px) {
  .single-image {
    width: 100%;
  }

  .title.is-2 {
    font-size: 2rem;
  }

  .hero-body {
    padding-top: 2rem;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .single-image {
    height: 320px;
    width: 320px;
  }

  .title.is-2 {
    margin-bottom: 30px;
  }
}