
* {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Carter One";
}

.container {
  text-align: center;
}

/* Optional style for fetched images */
.images {
  margin: 2% auto;
  max-width: 80%;
}

.single-photo {
  margin: 1% 5px;
  vertical-align: middle;
}

/* ------------ MEDIA QUERIES ------------ */

/* Small screens */
@media screen and (max-width: 767px) {
  .single-photo {
    width: 100%;
  }
}
